* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --headingColor: #000;
    --textColor: #161212;
    --fontSize: 20px;
    --lineHeight: 1.4;
    --headerColor: #cec9c9;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 2fr;
    color: var(--textColor);
}

header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: var(--headerColor);
}

header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    font-size: var(--fontSize);
    text-transform: capitalize;

}

header ul li {
    list-style-type: none;
}

.navbar a:hover {
    margin-bottom: 1px solid black;
}

a {
    text-decoration: none;
    color: var(--textColor);
}

h1, h2 {
    text-transform: capitalize;
}

.reading {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.intro {
    padding: 20px 0;
    text-align: center;
    margin: 10px;
}

.content {
    margin-bottom: 10px;
    line-height: var(--lineHeight);
}

.reading img {
    width: 600px;
    height: 300px;
    margin-top: 10px;
}

.free {
    color: red;
}


/* page 2 styling */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

fieldset {
    padding: 20px 30px;
    min-width: 400px;
    min-height: 400px;
    text-transform: capitalize;
}

label {
    display: block;
    padding: 6px 0;
}

input[type=text] {
    padding: 6px;
}
/* .familiar and .checkit styles the checkbox */
form p {
    margin-top: 5px;
}
.familiar {
    display: flex;
}

.checkit {
    display: flex;
    padding-right: 10px;
}

.checkit input {
    padding-left: 10px;
}

button {
    padding: 6px 14px;
    font-size: var(--fontSize);

}

/* styling learn / free websites page  */

.top-5 ul {
    display: flex;
    flex-direction: column;
    line-height: var(--lineHeight);
    text-transform: capitalize;
    font-size: var(--fontSize);

}

.top-5 a::before  {
    content: '- ';
}

.top-5 a:hover {
    border-bottom: 1px solid black;
}

.learn-image {
    min-height: 400px;
}


/* styling about page  */

.about-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.website-image {
    border: 2px solid black;
}

.about-images figcaption {
    text-align: center;
    text-transform: capitalize;
    font-size: var(--fontSize);
}
